@{
    ViewData["Title"] = "Sobre nossos esportes";
}
<h1>@ViewData["Title"]</h1>


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="/image/queimado.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Queimado</h5>
                <p class="card-text">Também conhecido como "Queimada" ou "Dodgeball" em alguns lugares, é um jogo onde dois times tentam eliminar os jogadores adversários acertando-os com uma bola, enquanto desviam dos lançamentos dos oponentes. O objetivo é eliminar todos os jogadores do time adversário para vencer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/futebol.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Futebol</h5>
                <p class="card-text">Um dos esportes mais populares do mundo, o futebol é jogado entre duas equipes de onze jogadores cada. O objetivo é marcar gols ao chutar a bola para dentro do gol adversário, enquanto os jogadores usam os pés, cabeça e corpo para controlar e passar a bola.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/basquete.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Baquete</h5>
                <p class="card-text">Jogado entre duas equipes de cinco jogadores, o basquete é caracterizado por arremessar uma bola em uma cesta fixa no topo de cada extremidade da quadra. Os pontos são marcados arremessando a bola na cesta do time adversário, enquanto se defende para evitar que o outro time pontue.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/volei.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vôlei</h5>
                <p class="card-text">Vôlei: Neste esporte, duas equipes competem em uma quadra dividida por uma rede. O objetivo é passar a bola por cima da rede e fazê-la tocar o chão do campo adversário, enquanto se defende para evitar que a bola caia em seu próprio lado. O vôlei exige habilidades de passe, bloqueio, ataque e defesa.</p>
            </div>
        </div>
    </div>
</div>
